
a{
  color:white !important;
  text-decoration: none !important;
  margin-right: 30px;
}
.hb{
  animation-name: heartBeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.gr{
  height: 100% !important;
  box-shadow: 1px 1px 5px 1px grey;
}
.gr:hover{
  box-shadow: 1px 1px 10px 1px rgb(47, 46, 46);
  transition-duration: 0.5s;
}
  .cc{
    margin-bottom: 20px;
  }
.shkx{
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.topbar{
  padding: 4px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 768px) {
  .topbar{
    display: none;
  }
}
@font-face {
  font-family: Myfont;
  src: url("assets/GFF-Latin-Medium.ttf");
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image{
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.image img:hover{
  transform: scale(1.1);
  transition-duration: 1s;
}
